alembic==1.4.0
azure-common==1.1.24
azure-nspkg==3.0.2
azure-storage==0.36.0
azure-core==1.32.0
azure-identity==1.15.0
azure-storage-blob==12.6.0
blinker==1.9.0
bootstrap-flask==2.3.3
cachelib==0.13.0
cffi==1.17.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
flask==3.1.0
flask-login==0.6.3
flask-session==0.8.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.2
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
isodate==0.7.2
jinja2==3.1.5
Mako==1.1.1
markupsafe==3.0.2
msal==1.31.1
msgspec==0.19.0
msrest==0.7.1
oauthlib==3.2.2
pip==24.3.1
pyodbc==5.2.0
pyopenssl==19.1.0
python-dateutil==2.8.1
python-editor==1.0.4
python-dotenv==1.0.1
pycparser==2.22
pyjwt==2.10.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlalchemy==2.0.36
setuptools==65.5.0
typing-extensions==4.12.2
urllib3==2.3.0
wtforms==3.2.1
werkzeug==3.1.3
